<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Nemendafélagið Nörd</title>
    <link rel="stylesheet" href="../../css/normalize.css" />
</head>
<body>
<h1>Búa til viðburð</h1>

<form th:action="@{/saveEvent}" method="post" th:object="${event}">

    <input type="text" th:field="*{title}" placeholder="Fyrirsögn"/>

    <textarea cols="86" rows ="20" th:field="*{description}" placeholder="Meginmál"></textarea>

    <input type="text" th:field="*{host}" placeholder="Í boði.." />

    <button th:text="${submit}" type="submit"></button>
</form>


<a th:href="@{/}">Fara á forsíðu</a>

</body>

</html>